footer {
    height: 250px;
  
    width: 100%;
    margin-top: 20px;
    background-color: #000000;
    background-image: linear-gradient(to bottom left, #000000,#343a40,#495057);
    bottom: 0;
    text-align: center;
    vertical-align: center;
    color: #FFFFFF;
    text-decoration: solid;
    margin-bottom: 0px;
   
   
}

footer p {
    color: white;
}

html {
    position: relative;
    min-height: 100% !important;
}
body {
    height: 100% !important;
}