.selector-for-some-widget {
    box-sizing: content-box;
}

#logoImg {
    height: 100px;
}


#loginImage {
    width: 32px;
    height: 32px;
    
    
}

#notificationImage {
    width: 32px;
    height: 32px;
  
    
}

#notificationCounter {
    position: relative;
    width: 20px;
    background-color:red;
    position: absolute;
    top: 0px;
    left: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.navbar {
    position: fixed;
}

main header nav .navbar {
    position: fixed;
}

main nav div.form-inline .dropdown-menu {
    align-content: center;
    vertical-align:auto;
}


main nav .nav-item {
    display: flex;
}

.dropdown:hover .dropdown-menu {
    display: block; 
    white-space: nowrap;
}


.dropdown-menu .notification .imageNot, .dropdown-menu .notification {
    display: inline-block;
}

.dropdown-menu .card-body:hover {
    
    background-color:  #495057;
    transition: .2s;
    color: white;
    font-size: bold;
}



