.selector-for-some-widget {
    box-sizing: content-box;
}

#logoImg {
    height: 100px;
}


#loginImage {
    width: 32px;
    height: 32px;
    
    
}

#notificationImage {
    width: 32px;
    height: 32px;
}


#notificationCounter {
    position: fixed;
    width: 20px;
    background-color:red;
    top: 0px;
    left: -5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    border-radius: 20px;
    color: white;
}

.navbar {
    position: fixed;
}

main header nav .navbar {
    position: fixed;
}

main nav div.form-inline .dropdown-menu {
    align-content: center;
    vertical-align:auto;
}


main nav .nav-item {
    display: flex;
}

.dropdown:hover .dropdown-menu {
    display: block; 
    white-space: nowrap;
    transition: .5s;
}

.dropdown:hover {
    z-index: 999;
}

#panelNotify{
    display: block;
    text-align: center;
    
}

#bellImage{
    height: 50px;
}

#checkNotifyImg {
    height: 30px;
}

#notificationCard{
    overflow-y: scroll;   
}

#notificationCard p {
    text-align: center;
}

ul a {
    text-align: center;
}

.dropdown-menu .card-body:hover {
    background-color:  #495057;
    transition: .2s;
    color: white;
    font-size: bold;
}

.dropdown .dropdown-menu {
    position: absolute; 
    inset: 0px 0px auto auto; 
    margin: 0px; 
    transform: translate(0px, 34px);
}


