.selector-for-some-widget {
    box-sizing: content-box;
}

* {
    box-sizing: border-box;
  }

html, body, main {
    height: 100%;
    width: 100%;
   
}

.bg-image {
    background-image: url("../images/loginSignUpBg.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

main section div.cardLogin {
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
      color: white;
      font-weight: bold;
      border: 3px solid #f1f1f1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: 40%;
      padding: 20px;
      text-align: center; 
      border-radius: 40px;  
      object-fit: contain;
      box-shadow: 2px;
}

main section div.cardLogin p, h2{
    font-family: Arial, Helvetica, sans-serif;
}

main section div.cardLogin img {
  height: 300px;
  border-radius: 40px;
  opacity: 0.8;
}


main section div.cardLogin form button {
  background-color: black;
  border-color: white;
}

main section div.cardLogin form button:hover {
  background-color: white;
  color: black;
  border-color: black;
}

main section div.cardLogin form button:focus {
  background-color: black;
  color: white;
  border-color: white;
}

form input {
  text-align: center;
  border-radius: 50px !important;
}

/**/




