#logoImg {
    height: 100px;
}

#loginImage{
    margin-left: 2%;
    margin-right: 20%;
}

#searchBar:hover {
    background-color: #549037;
}

#searchBar{
    border-color: #549037;
}

#dropdownMenuLink {
    color: #FFFFFF;;
    background-color: #549037;
}


form {
    margin-right: 5%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

nav .navbar-nav li .nav-item{
    color: #549037 ;
}

nav .navbar-nav form .btn {
    background-color: red;
}
