#logoImg {
    height: 100px;
}

#loginImage{
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
 }

#dropdownMenuLink {
    color: #FFFFFF;;
    background-color: #549037;
}


 nav .navbar-nav li .nav-item{
    color: #549037 ;
}



